body {
    min-height: 100vh;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
}

.bg-gray {
    background: gray;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.h-100 {
    min-height: 100px;
}

.w-100 {
    width: 100%;
}

.col-20 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;

}

@media (min-width: 768px) {
    .col-20 {
        flex: 0 0 20%;
        max-width: 20%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.col-20 > .bg-gray {
    min-height: 100px;
}

ol {
    list-style-type: decimal-leading-zero;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.min-h-100{
    min-height: 100px;
}

